.ss-flex {
	display: flex;
	width: 100%;
	//flex: 1 1 100%;

	&__parent {
		&--row-align-baseline {
			.ss-flex__child {
				display: flex;
				align-items: baseline;
			}
		}
	}
	&__child {

		&--m-left-a {
			margin-left: auto!important;
		}
		&--m-right-a {
			margin-right: auto!important;
		}
		&--m-top-a {
			margin-top: auto!important;
		}
		&--m-bottom-a {
			margin-bottom: auto!important;
		}
	}

	&--flex {
		&-none {
			flex: none!important;
		}
		&__child-none {
			& > div {
				flex: none!important;
			}
		}
		&-1 {
			flex:1;
		}
		&-2 {
			flex:2;
		}
	}
	&--column {
		flex-direction: column;
		&-reverse {
			flex-direction: column-reverse;
		}
	}
	&--row {
		flex-direction: row;
		&-reverse {
			flex-direction: row-reverse;
		}
	}
	&--align {
		&-center {
			align-items: center;
		}
		&-end {
			align-items: flex-end;
		}
		&-start {
			align-items: flex-start;
		}
		&-baseline {
			align-items: baseline;
		}
		&-stretch {
			align-items: stretch;
		}
	}
	&--justify {
		&-start {
			justify-content: flex-start;
		}
		&-end {
			justify-content: flex-end;
		}
		&-center {
			justify-content: center;
		}
		&-around {
			justify-content: space-around;
		}
		&-between {
			justify-content: space-between;
		}
	}
	&--wrap {
		flex-wrap: wrap;

		&-reverse {
			flex-wrap: wrap-reverse;
		}
	}
	&--nowrap {
		flex-wrap: nowrap;
	}
}
.ss-flex-inline {
	display: inline-flex;
}
